// FOR HEADING -  font-family: "Cros", sans-serif; 
// FOR BODY -  font-family: "DM Sans", sans-serif; 



@font-face {
    font-family: 'Cros';
    src: url('../webfonts/Cros.woff2') format('woff2'),
        url('../webfonts/Cros.woff') format('woff'),
        url('../webfonts/Cros.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// VARIABLES GENERATE -----------

	$primary-color: #FF1E00;
	$secondary-color: #F3E01B;
	$white:#fff;
	$dark:#0B0D14;
	$text:#EAEAEA;
	$black:#000;
	$font-heading: "Cros", sans-serif;
	$font-body: "DM Sans", sans-serif;




//  MIXED ---------

@mixin header-font($fs,$fw) {font-size: $fs; font-weight: 500; line-height: 1.3; font-family: $font-heading; color: $white;}
@mixin flex-cc{display: flex; align-items: center; justify-content: center;}
@mixin vertical-horizontal-center{top: 50%; left: 50%; transform: translate(-50%, -50%);}
@mixin bg($url){background: $url center center no-repeat; background-size: cover;}
@mixin after-before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
@mixin round-icon{background: #514ea1; width: 54px; height: 54px; display: flex; align-items: center; justify-content: center; border-radius: 50%; box-shadow: 0 3px 6px rgb(0 0 0 / 25%);}



// Border Animation -------
@mixin border-animation {position: relative; overflow: hidden; background: transparent !important;}

@mixin border-animation-before {content: ''; z-index: 1; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(0deg); position: absolute; width: 99999px; height: 99999px; background-repeat: no-repeat; background-position: 0 0; background-image: conic-gradient(rgba(0,0,0,0), #fe350393, #efad02, #fe350381, rgba(0,0,0,0) 6%); animation: rotate 12s linear infinite;}

@mixin border-animation-after {content: ''; position: absolute; z-index: 2; left: 1px; top: 1px; width: calc(100% - 2px); height: calc(100% - 2px); background: #24201F; border-radius: 18px;}



// GLOBAL CSS -----------
	html{font-size: 15px; scroll-behavior: smooth;}
	body{color:$text; font:400 1rem/1.6 $font-body; background-color: $dark;}
	a{text-decoration:none; color:var(--bs-dark); outline:none;}
	a:hover{text-decoration:none;}
	img{max-width:100%; height:auto;}
	* { box-sizing: border-box; }

	h1 {@include header-font(3.65rem,400); line-height: 1.2; letter-spacing: 1.5px;}
	h2 {@include header-font(3.2rem, 400); line-height: 1; margin-bottom: 15px; letter-spacing: 1px;}
	h3 {@include header-font(2.25rem,400);}
	h4 {@include header-font(2.15rem,400);}
	h5 {@include header-font(1.625rem,400);}
	h6 {@include header-font(1.25rem,400);}
	p{font:400 1rem/1.6 $font-body; margin-bottom:1.25rem; color:$text;}

.btn{font:500 0.9rem/1.2 $font-body; padding:1px 25px 1px 25px; min-height: 45px; border-radius: 30px; text-transform: uppercase; color: $black;}
.btn:hover{text-decoration: none;}
.btn:focus{outline: none; box-shadow: none;}

.btn-primary {background-color: $primary-color; color: #fff; border: 1px solid $primary-color; display: inline-flex; align-items: center; justify-content: center; overflow: hidden; position: relative;}
.btn-primary:hover {background-color: $black; color: $white; border-color: #ff1e00c4;}


.btn-info-primary {background-color: transparent; color: #fff; border: 1px solid rgba(255, 255, 255, 0.4); display: inline-flex; align-items: center; justify-content: center; overflow: hidden; position: relative;}
.btn-info-primary:hover {background-color: $white; color: $primary-color; }

.btn.btn-with-arrow { padding-right: 2px;
	span{width: 42px; height: 42px; display: flex; align-items: center; justify-content: center; background-color: #fff; border-radius: 50%; margin-left: 10px;
		img{max-width: 100%;}
	}
}



.wrapper{overflow:hidden;}
.fullwidth{position:relative; margin-left:50%;  width:100vw; max-width:100vw; clear:both;}

button{border: 0; background: none;
	&:focus{border-color: none; box-shadow: none;}
}

ul{margin: 0; padding: 0;}
ul.list{padding:0; margin:0 0 25px; list-style:none;}
ul.list li{position:relative; padding-left:15px; margin-bottom:5px; font-size:16px;}


ul{padding:0; margin:0 0 30px; list-style:none;}
ul li{position:relative; padding-left:0px; margin-bottom:5px; font-size:16px;}


ul.tab-list{padding:0; margin:0 0 25px; list-style:none;}
ul.tab-list li{position:relative; padding-left:28px; margin-bottom:5px; font-size:16px;}
ul.tab-list li:before{content:'\f00c'; font-family: fontAwesome; position:absolute; left:0; top:1px;}

ul.list2{padding:0; margin:0 0 25px; list-style:none;}
ul.list2 li{position:relative; padding-left:28px; margin-bottom:5px; font-size:16px; color: #fff;}
ul.list2 li:before{content:''; position:absolute; left:0; top:5px; width: 20px; height: 14px; background: url(../images/list2.png) center center no-repeat; background-size: contain;}

.section-padding{padding-top: 6.25rem; padding-bottom: 6.25rem;}
.section-padding-top{padding-top: 6.25rem;}
.section-padding-bottom{padding-bottom: 6.25rem;}

.spacer{height: 80px; display: block; width: 100%;}


.card{margin: 0; padding: 0;
	.card-header, .card-body{margin: 0; padding: 0; border: 0; background: transparent;}
}


/* Owl Carousel */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{width:40px; height:40px; display:block; position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); outline:none !important; margin:0; border-radius: 50%;} 
.owl-carousel .owl-nav button.owl-next{right:-5%; background:url(../images/next.png) center center no-repeat !important; }
.owl-carousel .owl-nav button.owl-prev{left:-5%; background:url(../images/prev.png) center center no-repeat !important;}

// -------------- GENERAL CSS  -----------------

.owl-carousel{
	.owl-dots { display: flex; align-items: start; margin-left: 10px;
		.owl-dot{
			span{background: #fffffff3; margin: 4px;}
		}
		.owl-dot.active span {background: $primary-color;}
	}
}

.tab-pane {
  transition: opacity 0.4s ease-in;
}

.star-rating{ display: flex; align-items: center; gap: 6px;
	li{display: inline-block;
		i{font-size: 14px; color: #fff;}
	}
}


.accordion-button {
    display: flex; /* Ensure flexbox is used (default in Bootstrap 5) */
    align-items: center; /* Vertically align items */
    gap: 0.5rem; /* Add some space between the icon and text */
}

.accordion-button::after {
    order: -1; /* Move the pseudo-element (icon) to the start of the flex container */
    margin-left: 0 !important; /* Remove default left margin */
    margin-right: 0.5rem; /* Add right margin for spacing */
}



// FORM Control
input{
	&:focus{box-shadow: none;}
}
.form-control:focus{box-shadow: none; background-color: #2B2726;}
.navbar-toggler:focus {box-shadow: none;}

.form-control {width: 100%; background-color: #2b2726; height: 48px; padding: 5px 15px; border: 0; border-radius: 35px; color: #e7e7e7;}

.form-control.email {background: url(../images/icon-email.png) 20px center no-repeat #000; padding: 5px 15px 5px 50px;}
.form-control.password {background: url(../images/icon-password.png) 20px center no-repeat #000; padding: 5px 15px 5px 50px;}
.form-control.name {background: url(../images/icon-user.png) 20px center no-repeat #000; padding: 5px 15px 5px 50px;}
.form-control.phone {background: url(../images/icon-phone.png) 20px center no-repeat #000; padding: 5px 15px 5px 50px;}
.form-control.search {background: url(../images/icon-search-red.png) 20px center no-repeat #000; padding: 5px 15px 5px 50px;}

.form-control::placeholder {color: #797979; opacity: 1 !important;}
.form-control:focus {color: #e7e7e7;}

.select-form-control { width: 100%; padding: 5px 15px; background: url(../images/down-arrow-red.png) no-repeat 95% center #2B2726;
	option{background-color: #000; color: #e7e7e7;}
}



.heading-area { text-align: center; margin-bottom: 25px;
	h2{color: $white; margin-bottom: 0; text-transform: uppercase;}
	h4{color: $white; padding-bottom: 25px; margin-bottom: 0; text-transform: uppercase;}
	p{color: #e2e2e2;}
}



.wrapper {background: url(../images/main-bg.jpg) center center no-repeat; background-size: cover;}

.content-wrapper {width: 100%;}

.landing-page{ background-color: #17120B; min-height: 100vh; display: flex; align-items: center; justify-content: center; position: relative;
	&::before{content: ''; position: absolute; top: 50%; left: 50%; width: 100vh; height: 100vh; background: url(../images/landing-bg.png) center center no-repeat; background-size: auto; opacity: 1; z-index: 1; animation: rotate 40s linear infinite; transform: translate(-50%, -50%);}

	& > * {position: relative; z-index: 2;}
	.logo-area {text-align: center;
		img {max-width:90%; margin: auto;}
	}
	
	.loader{position: absolute; top: 85%; left: 50%; transform: translateX(-50%);}
}

.main-section-wrapper {min-height: 100vh; display: flex; align-items: center;  position: relative; flex-direction: column; padding: 10px 15px;
	.logo-area {text-align: center; margin-top: 20px;
		img {max-width:60%; margin: auto;}
	}

// -------- HEADER CSS  -------- 
	header{ width: 100%; padding: 0;
		.back-btn-area{ display: flex; align-items: center; justify-content: start;
			a {color: #fff; width: 30px; height: 30px; display: flex; align-items: center; justify-content: start;
				i {font-size: 20px;}
			}
			span {color: #fff; font-family: $font-body; font-size: 18px; font-weight: 600; margin-left: 10px;}
		}

		// NAVBAR
		.navbar{ padding: 0;
			.navbar-toggler {padding: 0;}
			#navbarNavDropdown {position: absolute; background: rgb(0, 0, 0); top: 100%; width: calc(-30px + 100vw); border-radius: 0 0 15px 15px; box-shadow: 0 0 60px rgba(246, 181, 21, 0.45); margin-bottom: 30px; z-index: 9999;}
			ul.navbar-nav{
				li{ margin: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.2); font-size: 15px;
					a{color: #fff; padding: 15px;}
				}
				li:nth-last-child(1){ border-bottom: 0px; }
			}
		}

		// PROFILE AREA
		.profile-area { display: flex; flex-wrap: nowrap; gap: 10px; align-items: center;
			.profile-image{ width: 42px; height: 42px; border-radius: 5px; overflow: hidden;
				img{width: 100%; height: 100%; object-fit: cover; object-position: center top;}
			}
		}


		// SEARCH BOX AREA
		.search-area{ display: flex; align-items: center; position: relative; border-radius: 35px; margin: 20px 0 0;
			label {color: #fff; margin-bottom: 5px;}
			.dropdown{ position: absolute; right: 0; height: 100%;
				& > button {width: 50px; height: 100%; background-color: $primary-color; border-radius: 0 35px 35px 0;
					&::after{ display: none;}
				}
				.dropdown-menu{width: calc(100vw - 30px); transform: translate(0px, 55px) !important; background-color: #000; border-radius: 20px; border: 1px solid #6B6B6B; padding: 20px 15px; flex-wrap: wrap; flex-direction: column; gap: 13px; box-shadow: 0 0 60px rgba(246, 181, 21, 0.45);
					h4{font-family: $font-body; font-size: 16px; color: #fff; text-transform: capitalize; margin-bottom: 0px; border-bottom: 1px solid #3f3f3f; padding-bottom: 10px;}
				}
				.dropdown-menu.show {display: flex;}
			}
		}


	}

	.header.fix {
		position:fixed; width:100%; top:0; left:0; z-index:9999; box-shadow: 0px -23px 60px rgb(246, 181, 21);; background:rgb(33, 27, 27); 
	-webkit-animation-duration:1.5s; animation-duration:1.5s ;-webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:fadeInDown;animation-name:fadeInDown; padding: 10px 15px;


	}


	.content-wrapper{ display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;
		.content-area{  max-width: 80%; margin: auto; min-width: 290px;
			h1{text-align: center; color: $white; margin-bottom: 0px; text-transform: uppercase;}
			p{line-height: 1.45; color: #d6d6d6;}
		}
		.button-area{ display: flex; gap: 10px; flex-direction: column; width: 100%;
			a{width: 100%;}
		}

		.social-login-area{ margin-top: 30px;
			h5{font-family: $font-body; font-size: 15px; color: #979797; text-transform: capitalize; margin-bottom: 10px; display: inline-block;}
			ul{display: flex; align-items: center; justify-content: center; flex-direction: row; gap: 7px;

			}
		}

		.form-area{ width: 100%; display: flex; flex-direction: column; gap: 10px;
			.password-group { align-items: center; border-radius: 35px !important; overflow: hidden;
				input {position: relative; z-index: 1;}
				button{position: absolute; right: 10px; border: 0; background: transparent; z-index: 2;
					i{color: $primary-color;}
				}
			}
			.forgot-pass {text-align: right; font-size: 14px;
				a{color: RGB(167 161 159);}
				a:hover {color: $primary-color;}
			}
		}
	}


	// Match page
	.match-list-main-wrap{ width: 100%;}
	
	ul.match-area-nav{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 10px; margin: 20px 0 0;
		li{flex: 1 0 0%; text-align: center; background-color: rgb(59,38, 31); color: #fff; padding: 6px 5px; font-size: 14px; font-weight: 600; border-radius: 12px;
			a{color: #fff;}
		}
		li.active {background-color: $primary-color;}
	}

	.match-box-wrap {display: flex; flex-direction: column; gap: 13px; margin: 20px 0 0;}
	.match-box{ background-color: RGB(43, 39, 38); padding: 15px 20px; border: 1px solid #7e7e7e36; border-radius: 20px; position: relative;

		&:hover {@include border-animation(); transition: 0.4s; background: linear-gradient(190deg, rgb(45, 33, 33) 0%, rgb(28, 29, 31) 100%) !important;}

		

		&:hover::before {@include border-animation-before(); transition: 0.4s;}
		&:hover::after {@include border-animation-after(); background: linear-gradient(190deg,rgba(45, 33, 33, 1) 0%, rgba(28, 29, 31, 1) 100%); border: 0; transition: 0.4s;}

		& > div, & > hr {position: relative; z-index: 3;}
		.badge-wrap {text-align: right; margin-bottom: 10px;}
		.badge{z-index: 2; background: url(../images/badge-bg.png) left center no-repeat; background-size: 100% 100%; display: inline-flex; align-items: center; justify-content: center; font-family: $font-body; font-weight: 500; font-size: 15px; padding: 6px 15px 6px 25px; color: #fff; text-transform: uppercase; border-radius: 0; position: relative; right: -20px;}
		.top{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 15px; justify-content: center; align-items: center;
			.a{flex: 1 0 0%; text-align: center;
				h5{font-family: $font-body; font-size: 15px; color: #fff; text-transform: capitalize; margin: 10px 0 0;}
				img {border-radius: 50%; width: 100px; height: 100px; object-fit: cover; object-position: center center; margin: auto;}
			}
			.b {width: 70px; text-align: center;}
		}
		.bottom{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 15px; align-items: end;
			.left{flex: 1 0 0%; text-align: center;
				ul{ list-style: none; margin: 0; padding: 0; display: flex; flex-direction: column; gap: 10px; justify-content: start;
					li{ color: rgba(255, 255, 255, 0.65); flex: 0 0 100%; margin: 0; font-size: 14px; line-height: 1.15; text-align: start;
						span{font-weight: 600; color: #fff;}
					}
				}
			}
			.right{width: auto;}

		}

	}



	// ------- Live Match / stats Managment-------
	.live-match-wrapper{ width: 100%; background: #272626; border-radius: 20px; padding: 10px 8px; margin: 20px 0 0; position: relative; padding-bottom: 55px;
		.top{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 15px; justify-content: center; align-items: center; width: 100%;
			.team-box{ padding: 12px 8px; border-radius: 15px; background-color: #1D1B1B; border: 1px solid #3f3f3f; flex: 1 0 0%;
				h5{font-size: 14px; font-family: $font-body; font-weight: 600; color: #fff; margin-bottom: 6px;}
				.image-area {width: 72px; height: 72px; border: 3px solid transparent; border-radius: 50%; overflow: hidden; margin: auto;
					img{width: 100%; height: 100%; object-fit: cover;}
				}
				h4{font-size: 24px; font-family: $font-body; font-weight: 600; }

				.progress-area{
					.progress{height: 4px;
						.progress-bar {background-color: $primary-color;}
					}
					.progress-label{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 5px; align-items: center; justify-content: space-between; margin: 6px 0 0;
						span{font-size: 12px; color: rgba(255, 255, 255, 0.65);}
					}
				}
			}

			.team-score { flex: 0 0 auto;
				.logo > img {width: 62px;}
				h3{font-size: 40px; color: #fff; font-family: $font-body; font-weight: 800; display: flex; align-items: center; justify-content: center; gap: 6px; margin-bottom: 0px;
				}
				h6{font-size: 14px; color: #fff; font-family: $font-body; font-weight: 600;}


			}

		}


		.info-text{ display: flex; flex-wrap: nowrap; flex-direction: row; gap: 10px; justify-content: space-between; align-items: center; margin: 15px 0 0;
			.text{color: rgba(255, 255, 255, 0.65); font-size: 14px;
				span{color: #fff; font-weight: 600;}
			}
		}

		.drive-area{ position: absolute; bottom: -1px; left: 50%; transform: translateX(-50%); width: 100%;
			.drive-box{ display: inline-flex; align-items: center; justify-content: center; gap: 5px; background: url(../images/score-bg.png) center center no-repeat; background-size: 100% 100%; padding: 7px 35px;
				button{background-color: transparent; border: 0;
					img{width: 24px;}
				}
				h6{font-size: 14px; color: #fff; font-family: $font-body; font-weight: 600; margin: 0;}
			}

		}


	}



	.managment-box-area{ display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; width: 100%; margin: 20px 0 0;

		.control-box{ text-align: center; background-color: rgba(39,38,38,0.5); border: 1px solid RGB(23, 22, 24); border-radius: 15px; padding: 20px 10px; width: calc(50% - 10px); display: flex; align-items: center; justify-content: center; gap: 12px; flex-direction: column; transition: 0.3s ease; border:1px solid transparent;
			img{width: 80px; height: 60px; object-fit: contain;}
			h6{font-size: 14px; color: #fff; font-family: $font-body; font-weight: 600; margin: 0;}
		}

		.control-box.active { background-color: #2B2726; border: 1px solid #4C4C4C; transition: 0.3s ease;}

	}



	.create-match-area{ width: 100%; text-align: start; margin: 15px 0 0; padding: 15px 0 0; border-top: 1px solid #362c25;  display: flex; flex-direction: column; gap: 15px;
		.form-group {
			label {margin-bottom: 4px; margin-left: 2px;}
		}

		.btn {text-transform: capitalize; font-weight: 600; margin-top: 10px;}
		h6{text-align: center; font-family: $font-body; font-weight: 600; margin: 0; font-size: 13px;
			a{color: $primary-color;}
		}

	}



	

}








.login-page{ justify-content: center;
	.content-wrapper { padding: 20px 0; margin-top: 50px;
		.form-area {margin-top: 12px;}
		a:hover {color: $primary-color;}
	}
}

.login2{
	header {position: fixed; top: 0; width: 100%; left: 0; padding: 10px; z-index: 999;}
	.content-wrapper { padding: 10px 0; margin-top: 0px;
		& > h6 {font-family: $font-body; font-size: 15px; color: #979797; text-transform: capitalize;
			a {font-weight: 600; color: #fff;}
		}
	}
	.content-area h2 {margin-bottom: 5px;}

}

.stats-managment{ padding-bottom: 100px !important;
	
	footer{ position: fixed; bottom: 0; left: 0; width: 100%; background: #27211F; background: linear-gradient(180deg,rgba(39, 33, 31, 1) 0%, rgba(18, 8, 7, 1) 100%); border-top: 1px solid #34302e; padding: 10px 15px 5px; border-radius: 20px 20px 0 0; z-index: 9999;
		ul{ display: flex; flex-wrap: nowrap; align-items: center; justify-content: center; flex-direction: row; gap: 15px; margin: 0; padding: 0; list-style: none;
			li{
				a{display: inline-block; min-width: 45px; min-height: 45px; display: flex; align-items: center; justify-content: center;
				}
			}
		}


	}

}






@keyframes rotate {
	from { transform: translate(-50%, -50%) rotate(0deg); }
	to { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}










@media only screen and (max-width: 420px) {
	.main-section-wrapper{ padding: 10px 10px;
		header .search-area .dropdown .dropdown-menu {width: calc(100vw - 20px);}
		.match-box .bottom .left ul li {font-size: 13px;}
	}


}




@media only screen and (max-width: 380px) {

	.btn { padding: 2px 18px 3px 18px; min-height: 40px;}

	.main-section-wrapper{ padding: 10px 8px;
		.match-box .badge {font-size: 13px;}
	}


	
}